.project-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: #ffffff;
  }
  
  .project-card.odd {
    flex-direction: row-reverse;
  }
  
  .project-info {
    flex: 1;
    padding: 0 20px;
  }
  
  .project-image {
    flex: 1;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 8px;
    object-fit: cover;
  }
/* Company Name */
.project-card h4 {
    color: #010D02;
    font-size: 24px; /* Web Size */
    margin-bottom: 10px;
    font-family: var(--fontFamily);
    font-weight: 500;
}

/* Service */
.project-card h3 {
    color: #010D02;
    font-size: 36px; /* Web Size */
    margin-bottom: 10px;
    font-family: var(--fontFamily);
    text-transform: uppercase; /* Caps all services */
    font-weight: 900;
}

/* Description */
.project-card p {
    color: #999;
    font-size: 20px; /* Web Size */
    font-family: var(--fontFamily);
    line-height: 1.5;
}

  
  @media screen and (max-width: 768px) {
    .project-card {
      flex-direction: column;
    }
  
    .project-info {
      padding: 10px 0;
    }
  
    .project-image img {
      width: 100%;
      height: auto;
    }
    .project-card h4 {
        font-size: 16px; /* Mobile Size */
    }

    .project-card h3 {
        font-size: 24px; /* Mobile Size */
    }

    .project-card p {
        font-size: 14px; /* Mobile Size */
    }
  }