.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.project-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
}



.project-card img {
    width: 100%;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}

.project-card h3 {
    color: #010D02;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: var(--fontFamily);
    text-transform: uppercase;
    font-weight: 900;
}

.project-card h4 {
    color: #010D02;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: var(--fontFamily);
    font-weight: 500;
}

.project-card p {
    color: #999;
    font-size: 0.9em;
    font-family: var(--fontFamily);
    line-height: 1.5;
}